<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<style>

    /* body *      {font-family:NotoSansCJKkr-Medium;} 별로 안좋은듯 body *.. */
    body           {font-family:NotoSansCJKkr-Medium; font-size:10px; margin:0; padding:0;}
    .container     {width:100%; height:100%;}
    .tskGray       {color:#9b9b9b;}
    .tskBold       {font-weight:550;}
    .tskLeft       {display:inherit; text-align:left;}
    .tskRight      {display:inherit; text-align:right;}
    .tskCenter     {display:inherit; text-align:center;}
    .tskShadow     {-moz-box-shadow:1px 1px 1px 1px rgba(16,16,16,0.3);-webkit-box-shadow:1px 1px 1px 1px rgba(16,16,16,0.3);box-shadow:1px 1px 1px 1px rgba(16,16,16,0.3);}

    .backdrop      {position:absolute; width:100%; height:100%; background-color:#eee; opacity:0.8;}
    .modalBox      {position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:660px; height:440px; border:1px solid #075a7b;}
    .backdrop2nd   {z-index:99; position:absolute; display:none; width:100%; height:100%; background-color:#eee; opacity:0.8;}
    .popWindow     {z-index:100; position:absolute; display:none; top:0; right:0; bottom:0; left:0; margin:auto; width:500px; height:545px; background-color:#fff; box-shadow:0 0 4px 0 rgba(0,0,0,0.5);}

    .showWindow    {position:absolute; overflow:hidden; width:254px; height:440px; background-color:#075a7b;}
    .showsBox      {width:762px; height:100%;}
    .shows         {display:inline-block; width:254px; height:100%; float:left;}
    #show1         {background-color:#afc;}
    #show2         {background-color:#cfa;}
    #show3         {background-color:#fac;}
    .dotsBox       {position:absolute; left:113.7px; bottom:13px;}
    .dots          {display:inline-block; width:6px; height:6px; border:1px solid white; border-radius:6px; background-color:#fff;}
    .dots.active   {background-color:#075a7b; border:1px solid #075a7b;}

    .formBox       {position:absolute; width:406px; height:440px; left:254px; background-color:#fff;}
    .moveToSignup  {margin:9.4px 9.3px 7px 0;}
    .formBoxHeader {display:block; margin-bottom:26.8px; font-size:30px;}
    .signinForm    {width:330px; margin:0 auto 33px;}
    .formLabel     {font-size:10px; text-align:left;}
    .formInput     {width:calc(330.4px - 34px); height:calc(39.6px - 10px); margin:4px 0 8px; padding:6px 17px 4px; border:1px solid #b4b4b4; border-radius:3px;}
    .formInput::placeholder {color:#b4b4b4;}
    .formCheck     {font-size:9px; color:#c83030; text-align:right; visibility:hidden}
    .formCheck.active {visibility:visible;}
    .submitBtn     {width:148.4px; height:33.2px; margin:24.1px 0 5.8px; font-size:10px; color:#fff; background-color:#075a7b; border:1px solid #075a7b; border-radius:16.6px;}
    .socialLogins  {margin-top:10px; text-align:center;}
    .socialLogins img {margin-left:5px;}

</style>
<script src="./static/js/jquery.js" charset="utf-8"></script>
<script type="text/javascript" src="./static/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
</head>
<body>





<% if(!data.user) { %>
<div class='container'>

    <!-- <h5><a href="/">이전으로</a></h5> -->

    <div class="backdrop"></div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur qui earum fuga laborum quam, fugiat culpa incidunt hic nemo. Autem delectus suscipit nostrum doloremque, a quo dicta minima eaque cum.
    <div class='modalBox tskShadow'>

        <div class="showWindow">
            <div class="showsBox">
                <div class="shows" id="show1"></div>
                <div class="shows" id="show2"></div>
                <div class="shows" id="show3"></div>
            </div>
            <div class="dotsBox">
                <div class="dots active"></div>
                <div class="dots"></div>
                <div class="dots"></div>
            </div>
        </div>


        <div class="formBox">
            <span class="moveToSignup linked tskRight"><a class="tskGray tskBold" href="/openSignup">등록된 계정이 없으신가요?</a></span>
            <span class="formBoxHeader tskBold tskCenter">SIGN IN</span>
            <form class="signinForm tskCenter">
                <label class="formLabel tskGray tskLeft" for="email">E-mail</label>
                <input class="formInput" type="text" name="email" placeholder="이메일을 입력해주세요" required><br>

                <label class="formLabel tskGray tskLeft" for="pwd">Password</label>
                <input class="formInput" type="password" name="pwd" placeholder="비밀번호를 입력해주세요" required><br>
                <div class="formCheck tskRight">비밀번호가 일치하지 않습니다</div>

                <!-- <label for="remember">저장</label>
                <input type="checkbox" name="remember"/> -->

                <button class="submitBtn" id="signinBtn" type="submit">SIGN IN</button><br>

                <span class="linked"><a class="tskGray tskBold" href="#">ID/PW 찾기</a></span><br>
            </form>
            <span class="tskGray tskCenter">소셜 아이디로 로그인하기</span>
            <div class="socialLogins">
                <a href="#"><img src="./static/images/img_facebookIcon.png" alt="facebook icon"></a>
                <a href="#"><img src="./static/images/img_kakaoIcon.png" alt="kakaotalk icon"></a>
                <a id="naverIdLogin" href="javascript:void(0)"><img src="./static/images/img_naverIcon.png" alt="naver icon"></a>
                <a href="#"><img src="./static/images/img_googleIcon.png" alt="google icon"></a>
            </div>
        </div>


    </div>

</div>
<script>
$(document).ready(function(){
    if(localStorage.powell_email) $('input[name=email]').val(localStorage.powell_email)
})

$('.showsBox').on('click', function(){
    if($(this).css('margin-left') == '-508px'){
        $(this).css('margin-left', '0')
        $('.dotsBox').children('.dots').eq(0).addClass('active').siblings().removeClass('active')
    }
    else{
        $(this).css('margin-left', 'calc(' + $(this).css("margin-left") +' - 254px)')
        var mgLeft = $(this).css("margin-left").substr(0,4)
        index = mgLeft * (-1) / 254
        $('.dotsBox').children('.dots').eq(index).addClass('active').siblings().removeClass('active')
    }
})
</script>
<script>
$('#signinBtn').on('click', function(e){
    e.preventDefault()
    signinPost()
})

var naverLogin = new naver.LoginWithNaverId({
    clientId: 'z7xxA8bIJYZC26OKG9Ey',
    callbackUrl: 'http://localhost:8000/navered',
    isPopup: false,
    loginButton: {color: "green", type: 1, height: 30},
    callbackHandle: true
})

function signinPost(){
    var email, pwd, remember
    email = $('input[name=email]').val()
    pwd   = $('input[name=pwd]').val()

    // alert('sigininPost start')

    if(!email || !pwd) return alert('정보가 부족하다')

    $.post('/signin', {email:email, pwd:pwd}, function(data){
        switch(data){
            case 'error'   :
                alert('오류가 발생했습니다.\n잠시후 다시 시도해주세요.')
                break;
            case 'notRegistered' :
                alert('존재하지 않는 유저입니다.')
                break;
            case 'failure' :
                $('.formCheck').addClass('active')
                // var findPassword = confirm('존재하지 않는 이메일 또는 틀린 비밀번호를 입력하셨습니다.\n'
                //                           +'비밀번호 찾기를 진행하시겠습니까?')
                // if(findPassword){
                //   // findPassword() 실행
                // }
                break;
            case 'success' :
                $('.formCheck').removeClass('active')
                remember = $('input[name=remember]').prop('checked')
                // alert('successfully signed in')
                if(remember) localStorage.powell_email = email
                location.href = '/'
                break;
        }
    }).fail(function(){alert('server communication error occured')})
}
</script>





<% } else { %>

<!-- to profile -->
<div class="backdrop2nd"></div>
<div class="popWindow"></div><br>
<a href="/l/mypage">my page</a><br>
<a href="/l/management">management</a><br>

<br>

<!-- to start new project -->
<button id="newProject">new project</button>

<!-- to project details -->
<ul>
    <li><h1>project list</h1></li>
    <% for(tmp in data.project){ %>
    <li><%=(Number(tmp)+1)%>
        <a href="/l/project?pid=<%=data.project[tmp].pid%>">
            <%=data.project[tmp].name%>
        </a>
        <i>created by <%=data.project[tmp].create_id%></i>
    </li>
    <% } %>
</ul>

<!-- message list -->
<ul>
    <li><h1>message list</h1></li>
    <% if(data.message.length != 0){ %>
        <% for(tmp in data.message){ %>
        <li><%=(Number(tmp)+1)%>
            <% if(data.message[tmp].type == 'invitation'){ %>
                <%=data.message[tmp].content%><br>
                <a href="/l/joinProject?msgNum=<%=tmp%>&pid=<%=(data.message[tmp].destination)%>">join</a><br>
                <a href="/l/rejectProject?msgNum=<%=tmp%>&pid=<%=(data.message[tmp].destination)%>">see you never, bye forever</a>
            <% } else { %>
                <a href="#"><%=data.message[tmp].content%></a>
            <% } %>
        </li>
        <% } %>
    <% } %>
</ul><br>

<a id="naverIdLogin" href="javascript:void(0)"><img src="./static/images/img_naverIcon.png" alt="naver icon"></a>

<script>
var naverLogin = new naver.LoginWithNaverId({
    clientId: 'z7xxA8bIJYZC26OKG9Ey',
    callbackUrl: 'http://localhost:8000/navered',
    isPopup: false,
    loginButton: {color: "green", type: 1, height: 30},
    callbackHandle: true
})

/* 설정정보를 초기화하고 연동을 준비 */
naverLogin.init()

/* (4) Callback의 처리. 정상적으로 Callback 처리가 완료될 경우 main page로 redirect(또는 Popup close) */
window.addEventListener('load', function(){
    naverLogin.getLoginStatus(function (status) {
        if (status) {
            /* (5) 필수적으로 받아야하는 프로필 정보가 있다면 callback처리 시점에 체크 */
            var age = naverLogin.user.getAge()
            var birthday = naverLogin.user.getBirthday()
            var email = naverLogin.user.getEmail()
            var gender = naverLogin.user.getGender()
            var uniqId = naverLogin.user.getId()
            var name = naverLogin.user.getName()

            if( email == undefined || email == null) {
                alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.")
                /* (5-1) 사용자 정보 재동의를 위하여 다시 네아로 동의페이지로 이동함 */
                naverLogin.reprompt()
                return
            }
            alert(JSON.stringify(naverLogin.user))
            $.post('/navered/n', // 이렇게 하지말고 그냥 naverLogin.user 보내주기
            {age:age, birthday:birthday, email:email, gender:gender, uniqId:uniqId, name:name},
            function(data){
                switch(data){
                    case 'success' :
                        $("#naverIdLogin").css("display", "none")
                        sigininPost()
                        // window.location.replace("http://" + window.location.hostname + ( (location.port==""||location.port==undefined)?"":":" + location.port) + "/")
                        break;
                }
            })

        }else{
            console.log("callback 처리에 실패하였습니다.")
        }
    })
})
</script>

<a id="signoutBtn" href='#'>sign out</a>

<script>
$('#signoutBtn').on('click', function(e){
    e.preventDefault()

    // 로그인된 소셜 확인
    // naverLogin.getLoginStatus(function(status){
    //     if(status){
    //         alert('social naver logout')
    //         naverLogin.logout()
    //     }
    //     slOut()
    // })

    slOut()

    // 서버 로그아웃 요청
    function slOut(){
        $.get('/l/signout', function(data){
            alert(data)
            switch(data){
                case 'success':
                location.href = '/'
                break;
            }
        }).fail(function(){alert('server communication error occured')})
    }

})
</script>

<script>
$('#newProject').on('click', function(){
    openPop('newProject')
})

function openPop(content){
    $('.backdrop2nd').show()
    $('.popWindow').show()
    $.ajax({
        url     : "./static/pops/"+content+".html",
        dataType: "html",
        success : function (data) {
            $(".popWindow").html(data)
        }
    })
}

$('.backdrop2nd').on('click', function(){closePop()})

function closePop(){
    $('.backdrop2nd').hide()
    $('.popWindow').hide().children().remove()
}
</script>

<% } %>





</body>
</html>
